<mat-toolbar color="primary">
    <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
        <mat-icon>menu</mat-icon>
    </button>
    <h1>Gestión de vehículos</h1>

    <div matTooltip="Dirección de cuenta" matTooltipPosition="left" class="account-position-tooltip">
        <mat-icon class="account-icon-tooltip">account_circle</mat-icon>
        <span class="account-font-size">{{ cuenta }}</span>
    </div>
</mat-toolbar>

<mat-sidenav-container autosize="true">
    <mat-sidenav [ngClass]="!esCollapsed ? 'expanded' : '' " [mode]="'side'" [opened]="'true'">
        <mat-nav-list>
            <a mat-list-item *ngIf="esAdministrador" (click)="esVenderVehiculo = false">
                <span class="entry">
                    <mat-icon>directions_car</mat-icon>
                    <span *ngIf="!esCollapsed">Registrar vehículo</span>
                </span>
            </a>
            <a mat-list-item *ngIf="!esAdministrador" (click)="esVenderVehiculo = true">
                <span class="entry">
                    <mat-icon>local_offer</mat-icon>
                    <span *ngIf="!esCollapsed">Vender vehículo</span>
                </span>
            </a>
            <a mat-list-item *ngIf="!esAdministrador" (click)="esVenderVehiculo = false">
                <span class="entry">
                    <mat-icon>credit_card</mat-icon>
                    <span *ngIf="!esCollapsed">Comprar vehículo</span>
                </span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-registrar *ngIf="!esVenderVehiculo && esAdministrador">Registrar veh</app-registrar>
        <app-comprar *ngIf="!esVenderVehiculo && !esAdministrador"></app-comprar>
        <app-vender *ngIf="esVenderVehiculo && !esAdministrador"></app-vender>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>