/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

#header {
    margin-bottom: 20px;
}

#tickets {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.ticket {
    display: inline-block;
    margin-bottom: 20px;
}

h1 {
    padding: 0 1rem;
}

/* h2 {
    padding: 1rem;
} */

mat-toolbar {
    position: fixed;
    top: 0;
    z-index: 2;
}

mat-sidenav-container {
    height: 100%;
}

/* Mueve el contenido hacia abajo para que no sea ocultado por la barra de herramientas */
mat-sidenav {
    padding-top: 3.5rem;
    transition: width 0.3s ease;
}

@media screen and (min-width: 600px) {
    mat-sidenav {
        padding-top: 4rem;
    }
}

/* Mueve el contenido hacia abajo para que no sea ocultado por la barra de herramientas */
mat-sidenav-content {
    padding-top: 3.5rem;
}

@media screen and (min-width: 600px) {
    mat-sidenav-content {
        padding-top: 4rem;
    }
}

.expanded {
    width: 250px;
}

/* Estilos específicos para la clase .entry dentro de mat-sidenav */
mat-sidenav .entry {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem;
}

.form-container {
    width: 100%;
    max-width: 960px;
    /* Ajusta este valor según el ancho deseado del formulario */
    margin: auto;
    padding: 20px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
    /* Este será el espacio vertical entre las filas */
}

mat-form-field {
    flex: 1;
    /* Los campos de formulario crecen para llenar el espacio disponible */
    margin-right: 20px;
    /* Este será el espacio horizontal entre los campos */
}

/* Ajusta el margen derecho del último campo de cada fila para que sea 0 */
/* .form-row mat-form-field:last-child {
    margin-right: 0;
} */

.form-title {
    text-align: center;
    /* Centra el texto del título */
    margin-bottom: 30px;
    /* Espacio entre el título y la primera fila de campos */
}

.empty-space {
    flex: 1;
    margin-right: 20px; /* Ajusta este valor para que coincida con el margen de mat-form-field */
}

/* Ajusta el margen derecho del último campo de cada fila para que sea 0 */
.form-row mat-form-field:last-child .empty-space {
    margin-right: 0; /* Ajusta este valor para que coincida con el margen de mat-form-field */
}

.historial-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Ajusta según sea necesario */
    margin-right: auto;
    width: 100%;
    /* Ajusta según sea necesario */
    max-width: 900px;
    /* Ajusta según sea necesario */
    margin-bottom: 35px;
}

/* Ajusta el ancho de la tabla según tus necesidades */
.mat-elevation-z8 {
    width: 100%;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: #fafafa;
}

.historial-container h3 {
    margin-bottom: 0;
    font-size: 13px;
    color: #616161;
}